html {
    overflow-x: hidden;
}

body {
    align-items: center;
    background-color: #eff6ff;
    font-family: "BarlowRegular";
    margin: 0 auto;
}

*,
*:before,
*::after {
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    margin: 0;
}

h2 {
    margin: 0;
    margin-top: 20px;
    font-size: 20px;
    color: #96A5B1;
}

.container {
    max-width: 1440px;
    max-height: 1000px;
    margin: auto;
}

@media (max-width: 1440px){
    .container {
        max-width: 970px;
    }
}
@media (max-width: 992px){
    .container {
        max-width: 750px;
    }
}
@media (max-width: 767px){
    .container {
        max-width: none;
    }
}

.colums {
    margin: 0 auto;
    position: relative;
    display: flex;
    margin: 100px 80px;
    width: 100%;
    height: 100%;

}

.col-1 {
    max-width: 760px;
    height: 1000px;
}

.images {
    width: 100%;
    height: 100%;
}

.images img {
    height: 100%;
    width: 100%;
}

.logo {
    max-width: 140px;
    max-height: 27px;
    left: 50px;
    top: 45px;
    position: absolute;
}

.logo img {
    width: 100%;
    height: 100%;
}

.page-main {
    max-width: 680px;
}

.col-2 {
    flex: 30%;
    width: 100%;
    color: #2A4A5C;
    text-align: left;
    background-color: white;
    padding-top: 120px;
    padding-left: 70px;
    padding-right: 70px;
}

.col-2 h2 {
    margin-bottom: 50px;
}

.col-2 img {
    float: left;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    transform: translate(0, 50%)
}

.col-2 a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.col-2 a p {
    text-align: center;
    position: absolute;
    transform: translate(40%, -20%)
}

.button {
    width: 245px;
    height: 40px;
}

.facebook {
    background-color: #255A9B;
    margin-right: 35px;
    transition: all 0.25s ease-in-out;
}

.facebook:hover {
    color: white;
    box-shadow: 0 0 20px rgba(37,90,155,0.55);
}

.linkedin {
    background-color: #0076B6;
    transition: all 0.25s ease-in-out;
}

.linkedin:hover {
    color: white;
    box-shadow: 0 0 20px rgba(0,118,182,0.55);
}

.buttons {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
}

hr {
    width: 100px;
    height: 0px;
    margin-top: 5%;
    border-bottom: 1px #000;
}
.lines {
    margin-bottom: 40px;
    margin-right: 6.5%;
    display: flex;
}

.lines p {
    margin-left: -25%;
    margin-right: -25%;
}

.input_menu {
    position: relative;
    margin-bottom: 40px;
    display: flex;
}

input {
    color: #797979;
	padding: 10px;
    padding-top: 20px;
	display: block;
	width: 245px;
	height: 55px;
    margin-right: 35px;
    border: 1px solid #afafaf;
    outline: 0;
}

.type_text {
    transition: all 0.3s ease-in-out;
}

.type_text:focus {
    border-left: 2px solid #3597fc;
}

.input_text {
    position: absolute;
    padding-left: 10px;
    padding-top: 2px;
    color: #96A5B1;
    font-size: 10px;
    font-weight: 700;
}

.selector {
    margin-bottom: 135px;
}

.selector h2 {
    margin-bottom: 60px;
    font-size: 15px;
}

.radio-btn {
    display: flex;
}

.radio-btn label {
    margin-right: 40px;
    color: #797979;
    font-weight: 700;
    cursor: pointer;
}

.radio-btn input {
    display: none;
}

.stlradio {
    display: inline-block;
    border: 2px solid #b2b1b1;
    width: 16px;
    height: 16px;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    margin-right: 10px;
    border-radius: 300px;
    background-color:#ffffff;
}

.stlradio:before {
    content: '';
    border: 4px solid #2f9dfe;
    width: 16px;
    height: 16px;
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 300px;
}

input:checked + .stlradio:before {
    opacity: 1;
}

.radio-btn span {
    font-size: 10px;
    color: #afafaf;
    position: relative;
}

.tooltip::after {
    content: "I am a natural person investing on my own behalf as a sole owner, join tenant, or tenant in common";
    width: 255px;
    height: 75px;
    box-shadow: 5px 5px 15px rgba(175, 175, 175, 0.25);
    border-radius: 10px;
    position: absolute;
    left: calc(0% - 90px);
    top: calc(100% + 25px);
    margin-bottom: 35px;
    padding: 10px;
    color: #afafaf;
    font-size: 15px;
    opacity: 0;
    visibility: hidden;
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}

.stlcheck {
    display: inline-block;
    border: 1px solid #b2b1b1;
    width: 10px;
    height: 10px;
    position: relative;
    box-sizing: border-box;
    margin-right: 10px;
    background-color:#ffffff;
}

.stlcheck:before {
    content: '';
    background-image: url(img/on.svg);
    width: 13px;
    height: 13px;
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    top: -2px;
    left: -2px;
}

.check-btn input:checked + .stlcheck:before {
    opacity: 1;
}

.check-btn input {
    display: none;
}

.check-btn {
    color: #afafaf;
    margin-bottom: 40px;
}

.check-btn a {
    color: #83c5f9;
    text-decoration: underline #83c5f9;
}

.button_create {
    width: 245px;
    height: 40px;
    text-align: center;
    margin-top: 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    font-size: 15px;
    background-color: white;
}

.button_create::before {
    content: 'Create Account';
    color: white;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 5px;
    transition: all 0.3s;
    background-color: #3698fb;
}

.button_create:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}

.button_create::after {
    content: 'Create Account';
    color: #797979;
    padding-top: 7px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-radius: 5px;
    border: 3px solid #3698fb;
    transform: scale(1.2,1.2);
}

.button_create:hover::after {
    opacity: 1;
    transform: scale(1,1);
}
